@import "../sass/reset";
@import "../sass/mixins";
@import "../sass/variables";


body{
 background-color: $main-color;
 transition: all 0.5s;
}

body.darkmode{
    background-color:$primary-color;
}


.checkbox{
 opacity: 0;  
 position:absolute; 
} 

.checkbox:checked + .labelTheme .ball{
    transform: translateX(41px)
}

.labelTheme{
    @include flexCenter(row);
    justify-content: center;
    gap: 20px;
    background-color: $primary-color;
    height: 35px;
    width: 80px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    .fas{
        font-size: 22px;
        color: $white-color;
    }

    .ball{
        width: 25px;
        height: 27px;
        background-color:$white-color;
        border-radius: 50%;
        position: absolute;
        left: 5px;

        transform: translateX(0px);
        transition: transform 0.2s linear ;
    }

    .ball.darkmode{
        background-color: $primary-color;
    }
}


.labelTheme.darkmode{
    background-color:$main-color;
    
    .fas{
        color: $primary-color;
    }
}

nav{
    width: 100vw;
    height: 80px;
    @include flexCenter(row);
    justify-content: space-around;
    width: 100%
}

ul{
    @include flexCenter(row);
    justify-content: space-between;
    height: inherit;

    li{
        
       padding: 0px 20px;  
       
    }
}

.link-header{
    font-family: $txt-description;
    color:$primary-color;
    font-size: 30px;
    transition: 0.3s;
    font-weight: 700;
    
    & i{
        font-size: 35px;
    }
    
    &:hover{
        color: $white-color;
    }

    transition: all 0.5s;
}

.link-header.darkmode{
    color: $main-color;
}

.link-header.darkmode:hover{
    color: $white-color;
}
main{
    width: 100%;
    height: calc(100vh - 80px);
    @include flexCenter(row);
    justify-content: space-around;
    flex-wrap: wrap;
}

.img--main{
    max-width:100%;
    width:28.37em;
    height: auto;

    
}

.title{
    color: $primary-color;
    transition: all 0.5s;
  
}

.title.darkmode{
    color:$main-color;
}

.container{
    padding: 0 40px;
    width: 100%;
    height: 100%;
    @include flexCenter(row);
    gap: 50px;
    flex-wrap: wrap;
    
    .title{
        font-family: $txt-title;
        font-size: 2.7em;
        text-align: center;
    }


    .container-input{
        @include flexCenter(column);
        justify-content: center;
        padding: 25px;
        
        .url-input{
            width: 700px;
            height: 30px;
            border: 1px solid $primary-color;
            border-radius: 10px;
            background-color: $primary-color;
            color: $white-color;
            transition: 0.3s;
            text-align: center;
            font-size: 18px;
            font-weight: 600;
            outline: none;
            transition: all 0.5s;
        }
       
    
        .url-input::placeholder{
            text-align: center;
            padding: 15px;
            color: $white-color;
            font-size: 18px;
            font-family: $txt-description;
            font-weight: 600;

        }

        
    }

    .url-input.darkmode{
        border: 1px solid $primary-color;
        background-color: $main-color;
   }

   .url-input.darkmode::placeholder{
    color: $primary-color;
}
}



.area-btn{
    @include flexCenter(row);
    flex-wrap: wrap;
    padding: 30px 0px;
    gap: 10px;
    align-items: center;
    

    .btn-input{
        @include flexCenter(row);
        justify-content: center;
        gap: 10px;
        align-items: center;
        border: 1px solid $white-color;
        background-color: $primary-color;
        border-radius: 12px;
        cursor: pointer;
        font-family: $txt-description;
        width: 200px;
        height: 35px; 
       font-size: 18px;
       text-align: center;
       color: $white-color;
       transition: ease-in-out 0.3s;

       &:hover{
        background-color:#515B60;
       }
    }
        
    
}

footer{
    text-align: center;
    margin-top: -35px;

    p{
        color: $primary-color;
        font-family: $txt-title;
        font-size: 17px;
        
        a{
            color: $primary-color;
            transition: 0.4s ease-in-out;
            position: relative;
            
            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 2px;
                width:0%;
                background-color: $primary-color;
                transition: 0.3s ease-in-out;

            }
            
            &:hover::after{
                width: 100%;
            }
        }   
    }

}


@media(min-width:320px) and (max-width:480px){


    main{
        justify-content: center;

    }
    .container{
        padding: 0px;
        width: 100%;
 
        

        .title{
            padding-top: 10px;
            width: 100%;
            font-size: 26px;
            text-align: center;
            
        }

        .container-input{
            .url-input{
                align-items: center;
                margin-top: 8px;
                width: 90%;
                font-size: 10px;
            }

            .url-input::placeholder{
                text-align: center;
                padding: 15px;
                color: $white-color;
                font-size: 15px;
                font-family: $txt-description;
                font-weight: 600;
            }
    
            
        }

        .area-btn{
           @include flexCenter(row);
           
            .btn-input{
                width: 90px;
                font-size: 12px;
            }
        }
    }

    
}

@media(min-width:481px) and (max-width:781px){
.container{

   .container-input{

        .title{
            font-size: 2.3em;
        }


        .url-input{
            width: 100%;
        }

        .btn-input{
            width: 135px;
        }
   }

    
}

}

@media(max-width:1189px){
    .container{

     .container-input {
        width: 100%;
        padding:40px 0px;
     }
    
     .img-areaMain{
        
        width: 100%;
        text-align: center;
        
        .img--main{
            width: 420px;
            margin-top: -140px;
        }
     }

    }

    footer{
        margin-top: -30px ;

    }
}



