@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Roboto&display=swap');

$txt-title:'Alatsi','sans-serif';
$txt-description:'Roboto','sans-serif';
$main-color:#92E3A9;
$primary-color: #263238;
$white-color:#DEF7E5;